body {
  background: #252836;
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #EA7C69;
  border-radius: 5px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

header {
  background: url("assets/images/header.png") no-repeat right;
  background-size: contain;
  height: 100%;
  padding: 40px 0;
}

.btn-group-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-bottom: 100px;
}

.btn-group-header a {
  padding: 14px 21px;
  border: 1px solid #EA7C69;
  text-decoration: none;
  font-weight: 600;
  color: #EA7C69;
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
  border-radius: 8px;
}

.btn-group-header a:hover {
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
  background: #EA7C69;
  color: #fff;
  -webkit-box-shadow: 0 8px 24px rgba(234, 124, 105, 0.3);
  box-shadow: 0 8px 24px rgba(234, 124, 105, 0.3);
}

.header .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 552px;
  max-width: 828px;
  width: 100%;
  margin: 0 auto;
}

.header .content img {
  height: 100%;
}

.header .content .info h1 {
  font-weight: 600;
  font-size: 120px;
  color: #fff;
  margin: 0 0 26px;
}

.header .content .info p {
  font-weight: 600;
  font-size: 16px;
  color: #E0E6E9;
  margin-bottom: 55px;
}

.header .content .info a {
  max-width: 360px;
  padding: 14px 0;
  background: #EA7C69;
  -webkit-box-shadow: 0 8px 24px rgba(234, 124, 105, 0.3);
  box-shadow: 0 8px 24px rgba(234, 124, 105, 0.3);
  border-radius: 8px;
  display: block;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}

.header .content .info a:hover {
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
  opacity: .7;
}

.shop {
  background: url("assets/images/shop-background.png") no-repeat;
  background-size: cover;
  padding: 80px 0;
}

.shop .product-wrapper {
  max-width: 1000px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: 0 auto 75px;
}

.shop .product-wrapper .product {
  padding: 35px;
  background: #1F1D2B;
  border-radius: 16px;
  width: 328px;
  color: #fff;
  text-decoration: none;
}

.shop .product-wrapper .product:not(:last-child) {
  margin-right: 35px;
}

.shop .product-wrapper .product img {
  width: 250px;
  margin-top: -75px;
}

.shop .product-wrapper .product h3, .shop .product-wrapper .product p {
  padding: 0 20px;
}

.shop .product-wrapper .product h3 {
  font-weight: 500;
  font-size: 16px;
}

.shop h2 {
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  color: #fff;
  margin: 0;
}

.deliver {
  padding: 135px 0;
  background: url("assets/images/deliver-map.png") no-repeat right top;
  background-size: contain;
}

.deliver .img-wrapper img {
  width: 611px;
  height: 100%;
}

.deliver .img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.deliver .new-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.deliver .new-post h4 {
  font-weight: 600;
  font-size: 28px;
  max-width: 300px;
  margin: 0;
  color: #fff;
}

.divider {
  height: 130px;
  width: 4px;
  background: #E78456;
  margin: 0 30px;
}

.empty-block {
  background: url("assets/images/empty-block.png") no-repeat right top;
  background-size: cover;
  height: 750px;
}

.contact .contact-wrapper {
  padding: 120px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact h3 {
  font-size: 36px;
  line-height: 42px;
  color: #fff;
  margin-bottom: 30px;
}

.contact a {
  padding: 14px 0;
  border: 1px solid #EA7C69;
  text-decoration: none;
  font-weight: 600;
  color: #EA7C69;
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
  border-radius: 8px;
  width: 360px;
  display: block;
  text-align: center;
}

.contact a:hover {
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
  background: #EA7C69;
  color: #fff;
  -webkit-box-shadow: 0 8px 24px rgba(234, 124, 105, 0.3);
  box-shadow: 0 8px 24px rgba(234, 124, 105, 0.3);
}

footer {
  background: #EA7C69;
}

footer .footer-wrapper {
  padding: 70px 0 35px 0;
}

footer .footer-wrapper p {
  font-weight: 600;
  font-size: 20px;
  color: #fff;
}

@media (max-width: 768px) {
  .shop .product-wrapper {
    flex-direction: column;
    align-items: center;
    margin: 0 auto 35px;
  }

  .header .content img {
    display: none;
  }

  .deliver .new-post {
    flex-direction: column;
  }

  .divider {
    display: none;
  }

  .shop .product-wrapper .product:not(:last-child) {
    margin: 0 0 55px;
  }

  .container {
    padding: 0 15px;
    width: unset;
  }

  .shop .product-wrapper .product {
    width: unset;
  }

  .header .content {
    height: unset;
    max-width: unset;
  }

  .header .content .info {
    width: 100%;
    text-align: center;
  }

  .header .content .info h1 {
    font-size: 50px;
    margin-bottom: 10px;
  }

  .header .content .info p {
    margin-bottom: 20px;
  }

  .header .content .info a {
    max-width: unset;
  }

  .shop {
    padding: 50px 0;
  }

  .deliver .img-wrapper img {
    width: 200px;
  }

  .deliver {
    padding: 50px 0;
  }

  .deliver .new-post h4 {
    margin-bottom: 25px;
    font-size: 17px;
  }

  .deliver .new-post img {
    width: 50%;
  }

  .empty-block {
    height: 200px;
  }

  .contact .contact-wrapper {
    padding: 40px 0;
  }

  .contact h3 {
    font-size: 25px;
    margin-top: 0;
  }

  footer .footer-wrapper {
    padding: 15px 0;
  }

  .btn-group-header {
    margin-bottom: 25px;
  }
}